<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>{{ .Site.Title }}</title>
</head>

<body>
    <header class="text-center">
        <h1>Think.</h1>
        <p>Something to.</p>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                {{ range sort .Site.Data.books "publicationdate" "desc" }}
                <div class="card shadow mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ .cover }}" class="card-img" alt="{{ .title }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ .title }}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ .subtitle }}</h6>
                                <p class="card-text small">{{ .edition }} Edition. Publication Date: {{ .publicationdate }}</p>
                                <p class="card-text">{{ .abstract }}</p>

                                {{ range .sellers }}
                                <a class="btn btn-sm btn-dark rounded-0 mb-1" href="{{ .link }}" role="button">{{ .shop }}</a>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>

    <footer class="text-center">
        <p>&copy; 2018, 2019, 2020 &bullet; Marco Ferra &bullet; <a href="https://maferra.com">maferra.com</a></p>
    </footer>

    <script src="//code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>
